/* Estilos generales para el encabezado */
.header {
     width: 100%;
    text-align: center;
}

.header-content {
   
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header-image {
    margin: 0;
    border-radius: 50%; 
    
}

.header-text {
    text-align: left;
}

.header h1 {
    font-size: 2rem;
    margin: 0;

}

.header h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  
}

.header h3 {
    font-size: 1.2rem;
    margin: 10px 0;
 
}

.header p {
    font-size: 1rem;
    width: 100%;/* Ancho máximo del párrafo */
    line-height: 1.5;
    margin: 0 auto;
}
