/* Estilos generales para la sección de juegos de Itch.io */
.itch-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
  }
  /* Estilos para el enlace del juego */
  .game a {
    display: inline-block;
    margin-top: 10px;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .game a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para el iframe */
  .game iframe {
    min-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  