

.dark-mode {
  background-color: #131313;
  color: #fff;
  align-items: center;
}

.light-mode {
  background-color: #fff;
  color: #000;
  align-items: center;
}

.layout{
  margin-left: 5rem;
  margin-right: 5rem;
}

.toogle-container {
  margin-left: 1rem;
}
/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  margin: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider.round:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider.round {
  background-color: #3af321;
}

input:checked + .slider.round:before {
  transform: translateX(35px);
}
